<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.programus.android.floatings"
    android:versionCode="3"
    android:versionName="@string/ver_name" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:allowBackup="true">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name" android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.SleepService" >
        </service>
        <service android:name=".services.NetSpeedService" >
        </service>

        <receiver
            android:name=".receivers.LockScreenReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.DialogActivity"
            android:label="@string/title_activity_dialog" android:theme="@android:style/Theme.Translucent">
        </activity>
    </application>

</manifest>